<h2>
  <%= @user.username %>
    <% if current_user %>
        <% if @user.banned && current_user.admin %>
            <span class="label label-info">frozen account</span>
            <%= link_to "reactivate", ban_account_user_path(@user.id), method: :post, class: "btn btn-warning" %>
        <% elsif current_user.admin %>
            <%= link_to "freeze account", ban_account_user_path(@user.id), method: :post, class: "btn btn-warning" %>
        <% end %>
    <% end %>
</h2>

<p>	
	<% unless @user.ratings.empty? %>
		Has <%= pluralize(@user.ratings.count, 'rating') %>, average: <%= round(@user.average_rating) %>
	<% else %>
		Has no ratings yet
	<% end %>	
</p>
<p>	
	<% unless @user.ratings.empty? %>
		favourite beer: <%= @user.favourite_beer %><br>
		favourite style: <%= @user.favourite_style.name %><br>
		favourite brewery: <%= @user.favourite_brewery.name %>
	<% end %>	
</p>

<p>
	<% unless @user.memberships.empty? %>
	member of <% @user.memberships.each do |membership| %> | 
	<%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %>
		<% end %>
	<% else %>
		no beer club memberships
	<% end %>	
</p>

<ul>
	<% @user.ratings.each do |rating| %>
		<li>
			<%= rating %>
				<% if @user == current_user %>
				 	<%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
		</li>
	<% end %>
</ul>	 

<% if current_user == @user %>
	<%= edit_and_destroy_buttons(@user) %>
<% end %>
