<h2><%= @style.name %></h2>

<quote>
  <%= @style.description %>
</quote>

<p><strong>beers:</strong></p>

<p><ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %></li>
  <% end %>
</ul></p> 

<%= edit_and_destroy_buttons(@style) %>

