<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>

<p>
  <%= @style.description %>
</p>

<p><strong>beers:</strong></p>

<p><ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %></li>
  <% end %>
</ul></p> 

<% if current_user %>
	<%= link_to 'Destroy', style_path(@style), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
	<%= link_to 'Edit', edit_style_path(@style), class:"btn btn-primary" %>
<% end %>
<%= link_to 'Back', styles_path, class:"btn btn-primary" %>
