<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ratebeer" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ratebeer" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class=".container">
       <%= render 'layouts/messages' %>

       <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6"><%= yield %></div>
          <div class="col-md-4"><img src="http://media-cache-ak0.pinimg.com/736x/83/1b/dd/831bdd32f6bc3de793c81b852058df22.jpg" width="200" class="img-rounded"></div>
        </div>
    </main>
  </body>
</html>
